### Go

# Binaries for programs and plugins
_.exe
_.exe~
_.dll
_.so
\*.dylib

# Test binary, built with `go test -c`
\*.test

# Output of the go coverage tool, specifically when used with LiteIDE
\*.out

### Go Patch
/vendor/
/Godeps/

# Certs
certs
